body{
  display: flex;
  justify-content: center;
  color: white;
  align-items: center;

  background: #43cea2; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #43cea2, #185a9d); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #43cea2, #185a9d); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  background-repeat: no-repeat;
  background-attachment: fixed;
}
h1{
  margin:0;
  font-size: 4rem;
  text-shadow: 1px 1px 4px black;
  font-family: 'Heading', sans-serif;
  margin-top: 30vh;
}
.app{
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Cabin', sans-serif;
}

.app h3{
  text-shadow: 1px 1px 4px black;
  font-size: 1.5rem;
  margin-bottom: 0;
}

.app h3 b{
  color: rgb(252, 212, 33);
}

input{
  width: 400px;
  height: 30px;
  padding:10px;
  border-radius: 8px;
  border: none;
  box-shadow: 1px 1px 0.8px #0c1d2e;
  margin-top: 10px;
  margin-bottom: 4px;
}
button{
  width: 100px;
  height:40px;
  background-color: #ffffff;
  border:none;
  box-shadow: 2px 2px 1px #18619d;
  border-radius: 30px;
  margin-top: 10px;
  margin-bottom: 20px;
}

button:hover{
  background-color: #18619d;
  color: white;
  cursor: pointer;
}

video{
  width: 40vw;
  height: 100%;
}
.form{
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  align-items: center;
}
.videos{
  display: none;
  justify-content: space-between;
}
.active{
  display: flex;
  gap: 20px;
  align-items: center;
}

.videos div{
  display: flex;
  flex-direction: column;
  align-items: center;
}

video {
  transform: scaleX(-1);
}

.username {
  font-size: 1.5rem;
  margin-top: 20px;
  text-shadow: 1px 1px 4px black;
}



